{
    "env": {
        "build": {
            "plugins": [
                "@babel/plugin-transform-typescript",
                "@babel/plugin-proposal-optional-chaining"
            ]
        }
    }
}
