ul[data-array] {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul[data-array] > li {
    display: table;
    width: 100%;
}
ul[data-array] > li > * {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    padding: 0.5em;
}
ul[data-array] > li > *:first-child {
    text-align: center;
    width: 10em;
}

img {
    max-width: 5em;
}
